<!DOCTYPE html>
<html lang="en">
<head>
    <title>Registeration</title>
    <%- include('../partials/head'); %>
</head>
<body>
    <div>
        <div class="container">
            <div class="row">
                <h1>Register Form</h1>
            </div>
            <form method="post" action="/register">
                <div class="row">
                    <div class="mb-3">
                        <label for="username" class="form-label">User Name</label>
                        <input type="text" class="form-control" name="username" id="username" placeholder="User Name">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" name="email"  id="email" placeholder="name@example.com">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" name="password" id="password" placeholder="Enter password">
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3">
                        <button type="submit" class="bnt btn-primary">Register</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>